<template>
  <div class="ep-5">
    <h1>DB index</h1>
    <p>
      Well, this page is just a placeholder.
    </p>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  layout: 'database',
});
</script>
