.data-table {
  $header-bg-color: var(--EMA-controls);
  background-color: $header-bg-color;
  .--row {
    $border-color: var(--EMA-controls);
    border: 1px solid $border-color;
    background-color: var(--EMA-bg);
    &:not(:first-child) {
      border-top-width: 0;
    }

    > div {
      border-right: 1px solid $border-color;
    }

    &.--header {
      background-color: $header-bg-color;
      > div {
        text-align: center;
        overflow-wrap: break-word;
      }
    }
  }
  .--cell {
    padding: px-size(1);
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
